/* Work Sans font from Google gont */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* COMMON SHARED STYLES */
* {
    padding: 0;margin: 0;box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.container{
    /* max-width: 1400px; */
    max-width: 80%;
    margin: auto;
}
.primary_btn{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 400;
}
.section_title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}
.special_text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 483rempx;
    font-weight: 700;
}
.description{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 24px 0px;
}









/* MAIN CODE STYLE */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 38px 240px;
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_container ul{
    display: flex;
}
.header_container li{
    list-style: none;
    margin-right: 32px;
}
.header_container li a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
}



/* Banner Section */
.banner{
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    padding: 0px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 68px;
}
.banner_title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}
.banner_title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 5.93rem;
    font-weight: 800;
}
.banner_text{
    margin: 15px 0px;
}
.text{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}
#btn_2{
    background: #4EC5F7;
}


/* Online Games */
.online_games{
    padding: 120px 240px;
}

.online_games h3{
    text-align: center;
}
.online_games p{
    text-align: center;
    margin-bottom: 48px;
}
.games_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.game_image img{
    /* width: 100%; */
}
.game_details{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 25px 0px;
}